# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/UnitCircle/v14/.suo
Debug/UnitCircle.ilk
Debug/UnitCircle.log
Debug/UnitCircle.pdb
Debug/UnitCircle.tlog/CL.command.1.tlog
Debug/UnitCircle.tlog/CL.read.1.tlog
Debug/UnitCircle.tlog/CL.write.1.tlog
Debug/UnitCircle.tlog/UnitCircle.lastbuildstate
Debug/UnitCircle.tlog/link.command.1.tlog
Debug/UnitCircle.tlog/link.read.1.tlog
Debug/UnitCircle.tlog/link.write.1.tlog
Debug/vc140.idb
Debug/vc140.pdb
UnitCircle.sln
UnitCircle.vcxproj
UnitCircle.vcxproj.filters
